<div class="layout" [class.collapsed]="!menuOpen">
  <!-- SIDEBAR reutilizado -->
  <aside class="sidebar">
    <div class="user-box" (click)="perfil()">
      <img src="assets/images/avatar.png">
      <span class="text">Admin</span>
    </div>

    <div class="menu-title" (click)="toggleMenu()">
      ☰ <span class="text">Menú</span>
    </div>

    <!--Navegación-->
    <nav class="nav">
      <!--Esta es la página de cobro-->
      <a (click)="inicio()">
        <span class="text">Inicio</span>
      </a>
      <a (click)="productos()">
        <span class="text">Productos</span>
      </a>
      <a routerLink="/ventas">
        <span class="text">Ventas</span>
      </a>
      <a routerLink="/compras">
        <span class="text">Compras</span>
      </a>
      <a routerLink="/facturas">
        <span class="text">Facturas</span>
      </a>
      <a routerLink="/reportes">
        <span class="text">Reportes</span>
      </a>
      <a routerLink="/caja">
        <span class="text">Caja</span>
      </a>
      <a routerLink="/cliente">
        <span class="text">Clientes</span>
      </a>
      <a (click)="usuarios()">
        <span class="text">Usuarios</span>
      </a>
    </nav>
  </aside>

  <!-- CONTENIDO -->
  <main class="content">
    <h2>Gestión de Productos</h2>

    <div class="main-grid">
      <!-- FORMULARIO -->
    <div class="form-card">
        <div class="field">
          <label>Nombre del producto</label>
          <input [(ngModel)]="form.name" />
        </div>

        <div class="field">
          <label>Precio</label>
          <input 
            [(ngModel)]="form.price"
            min="1"
            (input)="validateNumber('price')"
            type="number"
          />
        </div>

        <div class="field">
          <label>Stock</label>
          <input 
            [(ngModel)]="form.stock"
            min="1"
            (input)="validateNumber('stock')"n
            type="number"
          />
        </div>

        <div class="field">
          <label>Categoría</label>
          <select [(ngModel)]="form.categoryId" class="custom-select">
            <!--let c of: -->
            <option *ngFor="let c of categories" [value]="c.id"> <!--*ngFor: -->
              {{ c.name }}
            </option>
          </select>
        </div>

        <div class="field">
          <label>Imagen del producto</label>
          <!--#fileInput: -->
          <!--(change): -->
          <!--$event: -->
          <!--accept: -->
          <input 
            #fileInput 
            type="file"
            accept="image/*"
            (change)="onFileSelected($event)"
            class="file-input"
          />
        </div>

        <button type="button" (click)="save()" [disabled]="isSaving">
          <!--{{ isSaving ? 'Guardando...' : 'Guardar' }}-->
           <!--?-->
           <!--:-->
           {{ form.id ? 'Actualizar' : 'Guardar' }}
        </button>
      </div>

      <!-- LISTADO -->
      <div *ngIf="loading">
        Cargando productos...
      </div>

      <!--*ngIf: -->
      <div *ngIf="!loading" class="table-container">
        <table class="product-table">
          <thead>
            <tr>
              <th>Imagen</th>
              <th>Nombre</th>
              <th>Precio</th>
              <th>Stock</th>
              <th>Categoría</th>
              <th>Acciones</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let p of products">
              <td><img [src]="p.img" class="img"></td>
              <td>{{ p.name }}</td>
              <td>${{ p.price }}</td>
              <td>{{ p.stock }}</td>
              <td>{{ p.categoryName }}</td>
              <td>
                <button type="button" (click)="editProduct(p)" class="edit">Editar</button>
                <button type="button" (click)="deleteProduct(p.id)" class="delete">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</div>