<!--[class.collapsed]: -->
<div class="layout" [class.collapsed]="!sale.menuOpen">
    <app-sidebar (toggle)="sale.menuOpen = $event"></app-sidebar>

    <!--Contenido-->
    <main class="content">
       <div class="top-bar">
            <!--Buscador-->
            <div class="search-bar">
                <input
                    [(ngModel)]="sale.barcode"
                    (keyup.enter)="sale.searchBarcode()"
                    placeholder="Escanear código de barras"
                >
                <input 
                    [(ngModel)]="sale.search"
                    (input)="sale.onSearch()"
                    placeholder="Buscar por nombre, SKU o código de barras"
                />

                <div *ngIf="sale.searchResults.length" class="search-dropdown">
                    <div *ngFor="let p of sale.searchResults" class="search-item" (click)="sale.selectProduct(p)">
                        {{ p.name }}
                        stock: {{ p.stock }}
                    </div>
                </div>
            </div>
            
            <!--Modal de caja-->
            <div class="cash-info">
                <h4>Caja</h4>

                <div class="cash-user">
                    <span>Usuario</span>
                    <strong>{{ cash.userName }}</strong>
                </div>

                <div class="cash-user">
                    <span>Fecha</span>
                    <strong>{{ cash.today }}</strong>
                </div>

                <ng-container *ngIf="cash.cashStatus">
                        <div class="cash-status open">
                            Estado:
                            🟢 Abierta
                        </div>

                        <div class="cash-data">
                            <span>Fondo inicial:</span>
                            <strong>${{ cash.cashStatus.openingAmount }}</strong> 
                        </div>
                        
                        <button *hasPermission="'CERRAR_CAJA'" class="btn-cash close" (click)="cash.closeCashModal()">
                            Cerrar caja
                        </button>
                </ng-container>

                <ng-container *ngIf="!cash.cashStatus">
                        <div class="cash-status closed">
                            🔴 Caja cerrada
                        </div>

                        <button *hasPermission="'ABRIR_CAJA'" class="btn-cash open" (click)="cash.openCashModal()">
                            Abrir caja
                        </button>
                </ng-container>
            </div>
       </div>

        <!--Carrito-->
        <div class="cart">
            <h3>Venta actual</h3>
            <table>
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Subtotal</th>
                        <th>Acciones</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let item of sale.cobroItems$ | async">
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.unitPrice }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.subtotal }}</td>
                        <td>
                            <button (click)="sale.increase(item.product)">+</button>
                            <button (click)="sale.decrease(item.product.id)">-</button>
                            <button (click)="sale.removeItem(item.product.id)">X</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="total">
                Total: ${{ sale.total$ | async }}
            </div>

            <button *hasPermission="'CREAR_VENTAS'" class="pay-btn" (click)="sale.openPaymenteModal()">
                Cobrar
            </button>

            <!--Modal para realizar el cobro-->
            <div class="modal-backdrop" *ngIf="sale.showPaymentModal">
                <div class="modal">
                    <h3>Cobrar venta</h3>
                    <input type="number" [(ngModel)]="sale.cashReceived" placeholder="Efectivo recibido">
                    <p>Cambio: ${{ sale.changePreview }}</p>
                    
                    <div class="modal-buttons">
                        <button (click)="sale.confirmPayment()">
                            Confirmar
                        </button>

                        <button (click)="sale.closeModalCobro()">
                            Cancelar
                        </button>
                    </div>
                </div>
            </div>

            <!--Modal de abrir caja-->
            <div class="modal-backdrop" *ngIf="cash.showOpenCashModal">
                <div class="modal">
                    <h3>Abrir caja</h3>

                    <input type="number" [(ngModel)]="cash.openingAmount" placeholder="Monto inicial">
                    <div class="button-box">
                        <button class="btn-confirm-open" (click)="cash.confirmOpenCashModal()">Abrir</button>
                    </div>
                </div>
            </div>

            <!--Modal de cerrar caja-->
            <div class="modal-backdrop" *ngIf="cash.showCloseCashModal">
                <div class="modal cash-close-modal">
                    <h3>Corte de caja</h3>
                    <div class="cash-summary">
                        <div class="cash-row">
                            <span>Fondo inicial</span>
                            <strong>${{ cash.cashSummary?.openingAmount }}</strong>
                        </div>
                        <div class="cash-row">
                            <span>Ventas en efectivo</span>
                            <strong>${{ cash.cashSummary?.cashSales }}</strong>
                        </div>
                        <div class="cash-row">
                            <span>Ventas débito</span>
                            <strong>${{ cash.cashSummary?.debitSales }}</strong>
                        </div>
                        <div class="cash-row">
                            <span>Ventas crédito</span>
                            <strong>${{ cash.cashSummary?.creditSales }}</strong>
                        </div>
                        <div class="cash-row">
                            <span>Total vendido</span>
                            <strong>${{ cash.cashSummary?.totalSales }}</strong>
                        </div>
                        <div class="cash-row">
                            <span>Tickets</span>
                            <strong>{{ cash.cashSummary?.totalTickets }}</strong>
                        </div>
                        <div class="cash-row">
                            <span>Monto esperado</span>
                            <strong>${{ cash.cashSummary?.expectedAmount }}</strong>
                        </div>
                    </div>

                    <input type="number" [(ngModel)]="cash.closingAmount" placeholder="Dinero contado">

                    <div class="difference-preview" *ngIf="cash.closingAmount">
                        Diferencia: 
                        <strong
                                [class.positive]="cash.differencePreview >= 0"
                                [class.negative]="cash.differencePreview < 0">
                            ${{ cash.differencePreview }}
                        </strong>
                    </div>

                    <div class="button-box">
                        <button class="btn-confirm-close" (click)="cash.confirmCloseCashModal()">Cerrar</button>
                        <button class="btn-cancel" (click)="cash.showCloseCashModal = false">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
