.container{
  height:100vh;
  background:#0f172a;

  display:flex;
  justify-content:center;
  align-items:center;
}

.card{
  width:350px;
  display:flex;
  flex-direction:column;
  gap:15px;

  background:#1e293b;
  padding:25px;
  border-radius:12px;
}

.card h2{
  color:white;
}

.card input{
  padding:10px;
  border:none;
  border-radius:6px;
}

.card button{
  padding:10px;
  border:none;
  border-radius:6px;
  background:#22c55e;
  color:white;
  cursor:pointer;
}