<!--[class.collapsed]: -->
<div class="layout" [class.collapsed]="!saleFacade.menuOpen">
    <app-sidebar (toggle)="saleFacade.menuOpen = $event"></app-sidebar>

    <!--Contenido-->
    <main class="content">
       <div class="top-bar">
            <!--Buscador-->
            <div class="search-bar">
                <input
                    [(ngModel)]="saleFacade.barcode"
                    (keyup.enter)="saleFacade.searchBarcode()"
                    placeholder="Escanear código de barras"
                >
                <input 
                    [(ngModel)]="saleFacade.search"
                    (input)="saleFacade.onSearch()"
                    placeholder="Buscar por nombre, SKU o código de barras"
                />

                <div *ngIf="saleFacade.searchResults.length" class="search-dropdown">
                    <div *ngFor="let p of saleFacade.searchResults" class="search-item" (click)="saleFacade.selectProduct(p)">
                        {{ p.name }}
                        stock: {{ p.stock }}
                    </div>
                </div>
            </div>
            
            <!--Modal de caja-->
            <div class="cash-info">
                <h4>Caja</h4>

                <div class="cash-user">
                    <span>Usuario</span>
                    <strong>{{ cashFacade.userName }}</strong>
                </div>

                <div class="cash-user">
                    <span>Fecha</span>
                    <strong>{{ cashFacade.today }}</strong>
                </div>

                <ng-container *ngIf="cashFacade.cashStatus">
                        <div class="cash-status open">
                            Estado:
                            🟢 Abierta
                        </div>

                        <div class="cash-data">
                            <span>Fondo inicial:</span>
                            <strong>${{ cashFacade.cashStatus.openingAmount }}</strong> 
                        </div>
                        
                        <button class="btn-cash close" (click)="cashFacade.closeCashModal()">
                            Cerrar caja
                        </button>
                </ng-container>

                <ng-container *ngIf="!cashFacade.cashStatus">
                        <div class="cash-status closed">
                            🔴 Caja cerrada
                        </div>

                        <button class="btn-cash open" (click)="cashFacade.openCashModal()">
                            Abrir caja
                        </button>
                </ng-container>
            </div>
       </div>

        <!--Carrito-->
        <div class="cart">
            <h3>Venta actual</h3>
            <table>
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Subtotal</th>
                        <th>Acciones</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let item of saleFacade.cobroItems$ | async">
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.unitPrice }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.subtotal }}</td>
                        <td>
                            <button (click)="saleFacade.increase(item.product)">+</button>
                            <button (click)="saleFacade.decrease(item.product.id)">-</button>
                            <button (click)="saleFacade.removeItem(item.product.id)">X</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="total">
                Total: ${{ saleFacade.total$ | async }}
            </div>

            <button class="pay-btn" (click)="saleFacade.openPaymenteModal()">
                Cobrar
            </button>

            <!--Modal para realizar el cobro-->
            <div class="modal-backdrop" *ngIf="saleFacade.showPaymentModal">
                <div class="modal">
                    <h3>Cobrar venta</h3>
                    <input type="number" [(ngModel)]="saleFacade.cashReceived" placeholder="Efectivo recibido">
                    <p>Cambio: ${{ saleFacade.changePreview }}</p>
                    
                    <div class="modal-buttons">
                        <button (click)="saleFacade.confirmPayment()">
                            Confirmar
                        </button>

                        <button (click)="saleFacade.closeModalCobro()">
                            Cancelar
                        </button>
                    </div>
                </div>
            </div>

            <!--Modal de abrir caja-->
            <div class="modal-backdrop" *ngIf="cashFacade.showOpenCashModal">
                <div class="modal">
                    <h3>Abrir caja</h3>

                    <input type="number" [(ngModel)]="cashFacade.openingAmount" placeholder="Monto inicial">
                    <div class="button-box">
                        <button class="btn-confirm-open" (click)="cashFacade.confirmOpenCashModal()">Abrir</button>
                    </div>
                </div>
            </div>

            <!--Modal de cerrar caja-->
            <div class="modal-backdrop" *ngIf="cashFacade.showCloseCashModal">
                <div class="modal cash-close-modal">
                    <h3>Corte de caja</h3>
                    <div class="cash-summary">
                        <div class="cash-row">
                            <span>Fondo inicial</span>
                            <strong>${{ cashFacade.cashSummary?.openingAmount }}</strong>
                        </div>
                        <div class="cash-row">
                            <span>Ventas en efectivo</span>
                            <strong>${{ cashFacade.cashSummary?.cashSales }}</strong>
                        </div>
                        <div class="cash-row">
                            <span>Ventas débito</span>
                            <strong>${{ cashFacade.cashSummary?.debitSales }}</strong>
                        </div>
                        <div class="cash-row">
                            <span>Ventas crédito</span>
                            <strong>${{ cashFacade.cashSummary?.creditSales }}</strong>
                        </div>
                        <div class="cash-row">
                            <span>Total vendido</span>
                            <strong>${{ cashFacade.cashSummary?.totalSales }}</strong>
                        </div>
                        <div class="cash-row">
                            <span>Tickets</span>
                            <strong>{{ cashFacade.cashSummary?.totalTickets }}</strong>
                        </div>
                        <div class="cash-row">
                            <span>Monto esperado</span>
                            <strong>${{ cashFacade.cashSummary?.expectedAmount }}</strong>
                        </div>
                    </div>

                    <input type="number" [(ngModel)]="cashFacade.closingAmount" placeholder="Dinero contado">

                    <div class="difference-preview" *ngIf="cashFacade.closingAmount">
                        Diferencia: 
                        <strong
                                [class.positive]="cashFacade.differencePreview >= 0"
                                [class.negative]="cashFacade.differencePreview < 0">
                            ${{ cashFacade.differencePreview }}
                        </strong>
                    </div>

                    <div class="button-box">
                        <button class="btn-confirm-close" (click)="cashFacade.confirmCloseCashModal()">Cerrar</button>
                        <button class="btn-cancel" (click)="cashFacade.showCloseCashModal = false">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
