<!--[class.collapsed]: -->
<div class="layout" [class.collapsed]="!menuOpen">
    <app-sidebar (toggle)="menuOpen = $event"></app-sidebar>

    <!--Contenido-->
    <main class="content">
       <div class="top-bar">
            <!--Buscador-->
            <div class="search-bar">
                <input
                    [(ngModel)]="barcode"
                    (keyup.enter)="searchBarcode()"
                    placeholder="Escanear código de barras"
                >
                <input 
                    [(ngModel)]="search"
                    (input)="onSearch()"
                    placeholder="Buscar por nombre, SKU o código de barras"
                />

                <div *ngIf="searchResults.length" class="search-dropdown">
                    <div *ngFor="let p of searchResults" class="search-item" (click)="selectProduct(p)">
                        {{ p.name }}
                        stock: {{ p.stock }}
                    </div>
                </div>
            </div>

            <!--Modal de caja-->
            <div class="cash-info">
                <h4>Caja</h4>

                <ng-container *ngIf="cashFlag">
                        <p>
                            Estado:
                            🟢 Abierta
                        </p>

                        <p>
                            Fondo:
                            ${{ cashFlag.openingAmount }}
                        </p>
                        
                        <button class="open-btn" (click)="closeCashModal()">
                            Cerrar caja
                        </button>
                </ng-container>

                <ng-container *ngIf="!cashFlag">
                        <p>
                            🔴 Caja cerrada
                        </p>

                        <button class="close-btn" (click)="openCashModal()">
                            Abrir caja
                        </button>
                </ng-container>
            </div>
       </div>

        <!--Carrito-->
        <div class="cart">
            <h3>Venta actual</h3>
            <table>
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Subtotal</th>
                        <th>Acciones</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let item of cobroItems$ | async">
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.unitPrice }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.subtotal }}</td>
                        <td>
                            <button (click)="increase(item.product)">+</button>
                            <button (click)="decrease(item.product.id)">-</button>
                            <button (click)="removeItem(item.product.id)">X</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="total">
                Total: ${{ total$ | async }}
            </div>

            <button class="pay-btn" (click)="openPaymenteModal()">
                Cobrar
            </button>

            <!--Modal para realizar el cobro-->
            <div class="modal-backdrop" *ngIf="showPaymentModal">
                <div class="modal">
                    <h3>Cobrar venta</h3>
                    <input type="number" [(ngModel)]="cashReceived" placeholder="Efectivo recibido">
                    <p>Cambio: ${{ changePreview }}</p>
                    
                    <div class="modal-buttons">
                        <button (click)="confirmPayment()">
                            Confirmar
                        </button>

                        <button (click)="closeModalCobro()">
                            Cancelar
                        </button>
                    </div>
                </div>
            </div>

            <!--Modal de abrir caja-->
            <div class="modal-backdrop" *ngIf="showOpenCashModal">
                <div class="modal">
                    <h3>Abrir caja</h3>

                    <input type="number" [(ngModel)]="openingAmount" placeholder="Monto inicial">
                    <div class="modal-buttons">
                        <button (click)="confirmOpenCashModal()">Abrir</button>
                    </div>
                </div>
            </div>

            <!--Modal de cerrar caja-->
            <div class="modal-backdrop" *ngIf="showCloseCashModal">
                <div class="modal">
                    <h3>Cerrar caja</h3>
                    <input type="number" [(ngModel)]="closingAmount" placeholder="Monto final">
                    <button (click)="confirmCloseCashModal()">Cerrar</button>
                    <button (click)="showCloseCashModal = false">Cancelar</button>
                </div>
            </div>

        </div>
    </main>
</div>
