/* MAIN */
.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

/*Modales de abrir y cerrar cajas*/
/* HEADER SUPERIOR */
.top-bar {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  justify-content: space-between;
  background: #020617;
  border: 1px solid #1e293b;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.top-bar button {
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

/*Modal de caja*/
.cash-info{
  width: 320px;
  margin-left: 20px;
  min-height: auto;
  background: #0f172a;
  border: 1px solid #1e293b;
  border-radius: 16px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,.25);
}

.cash-info h4{
  margin: 0;
  color: #e2e8f0;
  font-size: 18px;
}

/*Estado de la caja*/
.cash-status{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
}

.cash-status.open{
  background: rgba(34, 197, 94, .15);
  color: #22c55e;
}

.cash-status.closed{
  background: rgba(239,68,68,.15);
  color: #ef4444;
}

.cash-data{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.cash-data span{
  color: #94a3b8;
}

.cash-data strong{
  color: #f8fafc;
  font-size: 18px;
}

/*Información del usuario*/
.cash-user{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #1e293b;
}

.cash-user span{
  color: #94a3b8;
}

.cash-user strong{
  color: #f8fafc;
}

/*Botones*/
.btn-cash{
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 12px;
  cursor: pointer;
  font-weight: 600;
  transition: .2s;
}

/*Boton de abrir modal de caja*/
.btn-cash.open{
  background:#22c55e;
  color:white;
}

.btn-cash.open:hover{
  background: #16a34a;
}

/*Boton para cerrar modal de caja*/
.btn-cash.close{
  background: #ef4444;
  color: white;
}
 
.btn-cash.close:hover{
  background: #dc2626;
}

/*Botones de los modales abrir y cerrar*/
.button-box{
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 10px;
}

.button-box button{
  min-width: 130px;
  width: auto;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

/*Botones de modal cerrar*/
.btn-confirm-close{
  background: #ef4444;
  color: white;
}

.btn-confirm-close:hover{
  background: #dc2626;
}

.btn-cancel{
  background: #475569;
  color: white;
}

.btn-cancel:hover{
  background: #334155;
}

/*Botones de modal abrir*/
.btn-confirm-open{
  background: #22c55e;;
  color: white;
}

.btn-confirm-open:hover{
  background: #22c55e;
}

/* BUSCADOR */
.search-bar {
  position: relative;
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.search-bar input {
  width: 100%;
  padding: 12px 15px;
  border-radius: 10px;
  border: 1px solid #334155;
  background: #020617;
  color: white;
  outline: none;
  font-size: 14px;
  transition: 0.2s;
}

.search-bar input::placeholder {
  color: #94a3b8;
}

.search-bar input:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 5px rgba(59,130,246,0.5);
}

.search-dropdown {
  position: absolute;
  width: 100%;
  top: 110%;
  background: #020617;
  border: 1px solid #1e293b;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  max-height: 250px;
  overflow-y: auto;
  z-index: 100;
}

/* Scroll bonito */
.search-dropdown::-webkit-scrollbar {
  width: 6px;
}

.search-dropdown::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 10px;
}

.search-item {
  padding: 10px 15px;
  cursor: pointer;
  border-bottom: 1px solid #1e293b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #e2e8f0;
  transition: 0.2s;
}

.search-item:hover {
  background: #1e293b;
}

.search-item:last-child {
  border-bottom: none;
}

/* Nombre del producto */
.search-item span {
  font-weight: 500;
}

/* Stock */
.search-item small {
  color: #94a3b8;
  font-size: 12px;
}

/* CARRITO */
.cart {
  flex: 1;
  margin-top: 10px;
  background: #020617;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #1e293b;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

/*Tabla de ventas*/
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  color: #e2e8f0;
}

thead {
  background: #1e293b;
}

th {
  padding: 12px;
  font-size: 13px;
  text-transform: uppercase;
  color: #94a3b8;
}

td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #1e293b;
}

tbody tr:hover {
  background: #020617;
}

td button {
  margin: 2px;
  padding: 5px 8px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
  transition: 0.2s;
}

/* + */
td button:nth-child(1) {
  background: #22c55e;
  color: white;
}

td button:nth-child(1):hover {
  background: #16a34a;
}

/* - */
td button:nth-child(2) {
  background: #eab308;
  color: black;
}

td button:nth-child(2):hover {
  background: #ca8a04;
}

/* eliminar */
td button:nth-child(3) {
  background: #ef4444;
  color: white;
}

td button:nth-child(3):hover {
  background: #dc2626;
}

/*Precio total*/
.total {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  color: #e2e8f0;
}

/*Boton de pago*/
.pay-btn {
  margin-top: 15px;
  padding: 12px;
  background: #22c55e;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  color: white;
  cursor: pointer;
  display: block;
  margin-left: auto;
  min-width: 150px;
  transition: 0.3s;
}

.pay-btn:hover {
  background: #16a34a;
  transform: scale(1.03);
}

/*Modal de confirmación*/
.modal-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal{
    background: #0f172a;
    width: 400px;
    max-width: 90%;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    border: 1px solid #1e293b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.modal h3{
    margin: 0;
    text-align: center;
    color:#f8fafc;
}

.modal input{
    padding: 10px;
    border: 1px solid #334155;
    border-radius: 8px;
    font-size: 16px;
    justify-content: center;
    background:#0f172a;
    color:white;
}

/*Botones del modal de confirmar venta*/
.modal-buttons{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.modal-buttons button{
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background:#22c55e;
}

.modal-buttons button:first-child{
    background: #2ecc71;
    color: white;
}

.modal-buttons button:last-child{
    background: #e74c3c;
    color: white;
}

/*Corte de caja*/
.cash-close-modal{
  width: 520;
}

/*==Resumen del corte de caja==*/
.cash-summary{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cash-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10p 0;
  border-bottom: 1px solid #1e293b;
}

.cash-row span{
  color: #94a3b8
}

.cash-row strong{
  color: #f8fafc
}

.cash-row.total{
  font-size: 16px;
  font-weight: 700;
}

.cash-row.expected{
  background: rgb(34, 197, 94, .12);
  padding: 12px;
  border-radius: 10px;
  border: none;
}

.difference-preview{
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
}

.positive{
  color: #22c55e;
}

.negative{
  color: #ef4444;
}
