/*Layout*/
.layout {
  display: flex;
  height: 100vh;
  background: #0f172a;
  color: white;
}

.layout.collapsed .sidebar{
  width: 70px;
}

.layout.collapsed .text{
  display: none;
}

.layout.collapsed .nav a{
  justify-content: center;
}

.layout.collapsed .user-box {
  justify-content: center;
}

.layout.collapsed .menu-title {
  justify-content: center;
}

.layout.collapsed .user-box img {
  margin-right: 0;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #020617;
  padding: 15px;
  transition: all 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 0 15px rgba(0,0,0,0.3);
  padding-top: 20px;
}

.sidebar a {
  color: #94a3b8;
  text-decoration: none;
  display: block;
  margin: 10px 0;
}

.sidebar a:hover {
  color: white;
}

/*Perfil*/
.user-box {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 15px;
}

.user-box img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #3b82f6;
  padding: 2px;
  background: white;
}

/*Menú, creo que ya no se ocupa de momento*/
.menu-title {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px;
  background: #1e293b;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: 0.3s;
}

.menu-title:hover{
  background: #334155;
}

.submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.submenu.open {
  max-height: 200px;
}

.submenu a {
  display: block;
  padding: 8px;
  color: #94a3b8;
}

.submenu a:hover {
  color: white;
}

/*Nav*/
.nav a{
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 5px 0;
  color: #94a3b8;
  text-decoration: none;
  transition: 0.2s;
}

.nav a:hover{
  color: white;
  background: #1e293b;
  border: 6px;
}

/* MAIN */
.content {
  flex: 1;
  padding: 20px;
  transition: all 0.3s ease;
}

/* BUSCADOR */
.search-bar {
  position: relative;
  max-width: 500px;
}

.search-bar input {
  width: 100%;
  padding: 12px 15px;
  border-radius: 10px;
  border: 1px solid #334155;
  background: #020617;
  color: white;
  outline: none;
  font-size: 14px;
  transition: 0.2s;
}

.search-bar input::placeholder {
  color: #94a3b8;
}

.search-bar input:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 5px rgba(59,130,246,0.5);
}

.search-dropdown {
  position: absolute;
  width: 100%;
  top: 110%;
  background: #020617;
  border: 1px solid #1e293b;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  max-height: 250px;
  overflow-y: auto;
  z-index: 100;
}

/* Scroll bonito */
.search-dropdown::-webkit-scrollbar {
  width: 6px;
}

.search-dropdown::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 10px;
}

.search-item {
  padding: 10px 15px;
  cursor: pointer;
  border-bottom: 1px solid #1e293b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #e2e8f0;
  transition: 0.2s;
}

.search-item:hover {
  background: #1e293b;
}

.search-item:last-child {
  border-bottom: none;
}

/* Nombre del producto */
.search-item span {
  font-weight: 500;
}

/* Stock */
.search-item small {
  color: #94a3b8;
  font-size: 12px;
}

/* CARRITO */
.cart {
  flex: 1;
  margin-top: 10px;
  background: #020617;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #1e293b;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

/*Tabla de ventas*/
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  color: #e2e8f0;
}

thead {
  background: #1e293b;
}

th {
  padding: 12px;
  font-size: 13px;
  text-transform: uppercase;
  color: #94a3b8;
}

td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #1e293b;
}

tbody tr:hover {
  background: #020617;
}

td button {
  margin: 2px;
  padding: 5px 8px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
  transition: 0.2s;
}

/* + */
td button:nth-child(1) {
  background: #22c55e;
  color: white;
}

td button:nth-child(1):hover {
  background: #16a34a;
}

/* - */
td button:nth-child(2) {
  background: #eab308;
  color: black;
}

td button:nth-child(2):hover {
  background: #ca8a04;
}

/* eliminar */
td button:nth-child(3) {
  background: #ef4444;
  color: white;
}

td button:nth-child(3):hover {
  background: #dc2626;
}

/*Precio total*/
.total {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  color: #e2e8f0;
}

/*Boton de pago*/
.pay-btn {
  margin-top: 15px;
  padding: 12px;
  background: #22c55e;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  color: white;
  cursor: pointer;
  display: block;
  margin-left: auto;
  min-width: 150px;
  transition: 0.3s;
}

.pay-btn:hover {
  background: #16a34a;
  transform: scale(1.03);
}
