<div class="perfil-container">
    <h2>Mi perfil</h2>

    <!--{{}}: -->
    <div class="card" *ngIf="user">
        <p><strong>ID:</strong> {{ user.id }} </p>
        <p><strong>Email:</strong> {{ user.email }} </p>
        <p><strong>Nombre:</strong>{{ user.name }}</p>
        <p><strong>Rol:</strong> {{ user.role }} </p>
    </div>

    <button class="logout-btn" (click)="logout()">
        Cerrar sesión
    </button>

    <button class="change-btn" (click)="togglePasswordForm()">
        Cambiar contraseña
    </button>

    <div *ngIf="showPasswordForm" class="password-card">
        <input type="password" placeholder="Contraseña actual" [(ngModel)]="currentPassword">
        <input type="password" placeholder="Nueva contraseña" [(ngModel)]="newPssword">
        <input type="password" placeholder="Confirmar contraseña" [(ngModel)]="confirmPassword">

        <button>
            Guardar contraseña
        </button>
    </div>
</div>