.perfil-container{
  min-height:100vh;
  background:#0f172a;

  display:flex;
  justify-content:center;
  align-items:center;
}

.card{
  width:450px;
  background:#1e293b;

  color:white;

  padding:25px;

  border-radius:15px;

  box-shadow:
    0 5px 20px rgba(0,0,0,.3);
}

.avatar{
  font-size:60px;
  text-align:center;
}

.role{
  display:block;
  margin-bottom:20px;
  color:#60a5fa;
}

.actions{
  display:flex;
  gap:10px;
  margin-top:20px;
}

.change-btn{
  flex:1;
  padding:10px;
  border:none;
  border-radius:6px;
  background:#3b82f6;
  color:white;
  cursor:pointer;
}

.logout-btn{
  flex:1;
  padding:10px;
  border:none;
  border-radius:6px;
  background:#ef4444;
  color:white;
  cursor:pointer;
}

.back-btn{
  flex:1;
  padding:10px;
  border:none;
  border-radius:6px;
  background:#6fca47fc;
  color:white;
  cursor:pointer;
}

.password-card{
  display:flex;
  flex-direction:column;
  gap:10px;
  margin-top:20px;
}

.password-card input{
  padding:10px;
  border:none;
  border-radius:6px;
}

.save-btn{
  padding:10px;
  border:none;
  border-radius:6px;
  background:#22c55e;
  color:white;
  cursor:pointer;
}