.perfil-container {
  padding: 20px;
  color: white;
  background: #0f172a;
  height: 100vh;
}

.card {
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.logout-btn {
  padding: 10px;
  background: #ef4444;
  border: none;
  border-radius: 6px;
  color: white;
}

.password-card{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.password-card input{
  padding: 10px;
  border-radius: 6px;
  border: none;
}

.change-btn{
  background: #3b82f6;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  margin-right: 10px;
}