<!-- SIDEBAR reutilizado -->
<!-- sidebar.menuOpen viene del SidebarService (servicio compartido) -->
<aside class="sidebar" [class.collapsed]="!sidebar.menuOpen">
  <div class="user-box" (click)="perfil()">
    <img src="assets/images/avatar.png">
    <span class="text">{{ userName }}</span>
  </div>

  <div class="menu-title" (click)="toggleMenu()">
    ☰ <span class="text">Menú</span>
  </div>

  <!--Navegación-->
  <nav class="nav">
    <!--Esta es la página de cobro-->
    <a (click)="inicio()">
      <span class="text">Inicio</span>
    </a>

    <ng-container *ngFor="let item of menuItems">
      <a *ngIf="auth.hasPermission(item.permission)" (click)="go(item.route)">
        <span class="text">
          {{ item.label }}
        </span>
      </a>
    </ng-container>
  </nav>
</aside>